.App {
  width: 80%;
  margin: 2em auto;
  border-radius: 5px;
  background: #2e2e2e;
  box-shadow: 19px 19px 36px #1b1b1b,
    -19px -19px 36px #414141;
  color: #fff;
}

.todo-header {
  padding: 0.5em;
  border-bottom: 1px solid #2c3035;
  text-align: center;
}

.todo-header h1 {
  margin: 0;
}

.form-todo {
  padding: 1em;
  margin: 0 2em;
  border-bottom: 1px solid #2c3035;
  justify-content: center;
  align-items: center;
}

.form-todo h2,
.list-todo h2 {
  text-align: center;
  margin-top: 0;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  font-size: .9em;
  margin-bottom: .1em;
}

.form-control input {
  margin: 30px;
  background: none;
  border: none;
  outline: none;
  /* max-width: 190px; */
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #fff;
}

input[type="submit"] {
  --hover-shadows: 14px 14px 30px #121212,
    -14px -14px 30px #414141;
  --accent: rgb(168, 2, 2);
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 9999px;
  background-color: #212121;
  color: white;
  display: block;
  width: 100%;
  padding: 1em;
  cursor: pointer;
  transition: box-shadow ease-in-out 0.3s,
    background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s,
    transform ease-in-out 0.1s;
  box-shadow: 13px 13px 10px #1c1c1c,
    -13px -13px 10px #262626;
}

input[type="submit"]:hover {
  box-shadow: var(--hover-shadows);
}

input[type="submit"]:active {
  box-shadow: var(--hover-shadows),
    var(--accent) 0px 0px 28px 3 px;
  background-color: var(--accent);
  transform: scale(0.95);
}

.list-todo {
  padding: 0 1em 2em;
  margin: 1em 2em;
}

.list-todo {
  margin-bottom: 0;
}

.list-todo p {
  text-align: center;
}

.todo{
  border-bottom: 1px solid #444;
  padding: 1em 0;
}

.todo h3{
  margin-bottom: .5em;
}

.todo-done{
  text-decoration: line-through;
  color:rgb(255, 255, 255);
}

.todo p{
  text-align: left;
  font-style: italic;
  font-size: .9em;
  margin-bottom: 1.5em;
}

.todo svg{
  font-size: 1.4em;
  cursor: pointer;
  margin-right: 1em;
  transition: .5s;
}

.todo svg:hover{
  color: rgb(109, 109, 109);
}